.footer
	.footer__body.container
		.footer__plaza.plaza-footer
			.plaza-footer__body
				.plaza-footer__item.item-plaza-footer
					img.icon(src="img/svg/mercedes-benz.svg",alt="")

				nav.plaza-footer__item.item-plaza-footer
					ul
						li
							a.item-plaza-footer__item(href="#")
								span Main
						li
							a.item-plaza-footer__item(href="#")
								span Auqcion
						li
							a.item-plaza-footer__item(href="#")
								span О проекте
						li
							a.item-plaza-footer__item(href="#")
								span Партнерам
						li
							a.item-plaza-footer__item(href="#")
								span  Контакты
						li
							a.item-plaza-footer__item(href="#")
								span Новости
						li
							a.item-plaza-footer__item(href="#")
								span FAQ
						li
							a.item-plaza-footer__item(href="#")
								span Реклама
						li
							a.item-plaza-footer__item(href="#")
								span Соглашение
						li
							a.item-plaza-footer__item(href="#")
								span Регистрация
						li
							a.item-plaza-footer__item(href="#")
								span Услуги
				.plaza-footer__item.item-plaza-footer__right
					span (495) 22-22-22
						span +7
		.footer__bottom.bottom-footer
			.bottom-footer__body
				span Все права защищены © 2014
				a.bottom-footer__link(href="#")
					p Обратная связь