footer#footer.footer.container
	.footer__body
		.footer__icon
			img(src="img/logo/logo.svg",alt="")
		.footer__title.menu-footer
			ul.menu-footer__body
				li
					a.menu__link(href='#')
						p Stories
				li
					a.menu__link(href='#')
						p Events
				li
					a.menu__link(href='#')
						p Places
				li
					a.menu__link(href='#')
						p Boards
		.footer__social.social-footer
			a.social-footer__icon(href="#")
				img(src="img/socials/social-tumblr.svg",alt="img")
			a.social-footer__icon(href="#")
				img(src="img/socials/social-twitter.svg",alt="img") 
			a.social-footer__icon(href="#")
				img(src="img/socials/social-vimeo.svg",alt="img") 
