//- ==================================

header1#header1.header1
	.header1__body.container
		a.header1__logo(href="#")
			img(src='img/logo/logo.svg' )
			//- img(src="img/image/img-5.jpg",alt="")

		.header1__burger.icon-menu
			span
			span
			span
		nav.header1__menu.menu
			ul.menu__body
				li
					a.menu__link(href='#')
						p Stories
				li
					a.menu__link(href='#')
						p Events
				li
					a.menu__link(href='#')
						p Places
				li
					a.menu__link(href='#')
						p Boards

		//- .header1__icons.icons-header1
		//- 	a.icons-header1__icon(href="#")
		//- 		span.icon-coin-pound.icomoon
		//- 	a.icons-header1__icon(href="#")
		//- 		span.icon-coin-euro.icomoon
		//- 	a.icons-header1__icon.icons-header1__icon_cart(href="#")
		//- 		span.icon-shopping-cart.icomoon






