//- ==================================

header#header.header
	.header__body.container
		a.header__logo(href="#")
			img(src='img/logo/logo.svg' )
			//- img(src="img/image/img-5.jpg",alt="")

		.header__burger.icon-menu
			span
			span
			span
		nav.header__menu.menu
			ul.menu__body
				li
					a.menu__link(href='#')
						p Stories
				li
					a.menu__link(href='#')
						p Events
				li
					a.menu__link(href='#')
						p Places
				li
					a.menu__link(href='#')
						p Boards

		//- .header__icons.icons-header
		//- 	a.icons-header__icon(href="#")
		//- 		span.icon-coin-pound.icomoon
		//- 	a.icons-header__icon(href="#")
		//- 		span.icon-coin-euro.icomoon
		//- 	a.icons-header__icon.icons-header__icon_cart(href="#")
		//- 		span.icon-shopping-cart.icomoon






