doctype html
html
	head

		title SERFING CLUB
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/style.css") 
	
	body
		div.wrapper
			.wrapper__bg1
			main.page
				
				block header
				block content
				block footer
		script(src="js/app.js")

//- 		 <!-- Global site tag (gtag.js) - Google Analytics -->
//- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167384164-1"></script>
//- <script>
//-   window.dataLayer = window.dataLayer || [];
//-   function gtag() { dataLayer.push(arguments); }
//-   gtag('js', new Date());

//-   gtag('config', 'UA-167384164-1');
//- </script>
//- <!-- Yandex.Metrika counter -->
//- <script
//-   type="text/javascript"> (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(63459871, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, trackHash: true }); </script>
//- <noscript>
//-   <div><img src="https://mc.yandex.ru/watch/63459871" style="position:absolute; left:-9999px;" alt="" /></div>
//- </noscript> <!-- /Yandex.Metrika counter -->


//-       <script src="https://e-timer.ru/js/etimer.js"></script>
//-       <script type="text/javascript">
//-         jQuery(document).ready(function () {
//-           jQuery(".eTimer").eTimer({
//-             etType: 0, etDate: "23.05.2020.0.0", etTitleText: "До окончания акции осталось:", etTitleSize: 20, etShowSign: 1, etSep: ":", etFontFamily: "Trebuchet MS", etTextColor: "#a3a3a3", etPaddingTB: 15, etPaddingLR: 15, etBackground: "#333333", etBorderSize: 0, etBorderRadius: 2, etBorderColor: "white", etShadow: " 0px 0px 10px 0px #333333", etLastUnit: 4, etNumberFontFamily: "Impact", etNumberSize: 35, etNumberColor: "white", etNumberPaddingTB: 0, etNumberPaddingLR: 8, etNumberBackground: "#11abb0", etNumberBorderSize: 0, etNumberBorderRadius: 5, etNumberBorderColor: "white", etNumberShadow: "inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5)"
//-           });
//-         });
//-       </script>











