.block-breack{ 
  &__body{
     position: relative;
     @include jucc();
     width: 100%;
     height: 100%; 
     padding: 9.5% 0px 0px 0px; 
     @media screen and (max-width: 846px) {
      padding: 3% 0px 3% 0px;
     }
     @media screen and (max-width: 450px) {
      padding: 3% 0px 6% 0px;
     }
  }

// ----------ширина контента-----
  &__content {  
position: relative;
flex: 0 1 100%;

}
  }


// ---------управление единичными блоками---------------------
.content-breack{
  &__body {  
position: relative;
@include jucb();
width: 100%;
height: 100%; 
padding: 0px 9% 0px 18%; 
@media screen and (max-width: 1082px) {
 padding: 0px 5% 0px 10%; 
} 
@media screen and (max-width: 926px) {
 padding: 0px 2% 0px 5%;
}
@media screen and (max-width: 846px) {
 padding: 0px 1% 0px 1%;  
 @include jucc(); 
 
}
}
// ----ширина единичного блока-----
&__item {  
flex: 0 1 38%;  
@media screen and (max-width: 846px) {
 flex: 0 1 90%;
}
}

&__bord{ 
  flex: 0 1 55%;    
padding: 0px 0px 49% 0px;
@media screen and (max-width: 846px) {
 flex: 0 1 90%;
}     
}
}
.bord{
position: relative; 
 }

// =====единичный блок=========

.tiny-breack{
width: 100%;
height: 100%;
  &__body {  
position: relative;
text-align: left;
@include flex();
padding: 21% 0px 0px 0px; 
@media screen and (max-width: 846px) {
 padding: 3% 0px 0px 0px;
}   
position: relative;
&:after {
            content: "";
             background-color: #5da8ef;
           position: absolute;
           width: 22px;
            height: 2px;
            top: 35%; 
            left: 0;  
            z-index: 2;
@media screen and (max-width: 846px) {
 top: 33%;   
}
@media screen and (max-width: 450px) {
 top: 20%;
}
      }
}


&__title {  
background-color: #9FFF0F;
position: relative;
z-index: 2;
flex: 0 1 100%;
@include Text-Style-18; 
line-height: 1; 
}

&__text {  
position: relative;
z-index: 2;
background-color: #9FFF0F;opacity: 0.8;
flex: 0 1 100%;
  
&_one {  
background-color: red;opacity: 0.8;
flex: 0 1 100%;
@include Text-Style-7;  
line-height: 1; 
text-transform: uppercase;
padding: 20% 0px 0px 0px;  
@media screen and (max-width: 846px) {
 padding: 6% 0px 0px 0px; 
}
@media screen and (max-width: 550px) {
 padding: 15% 0px 0px 0px; 
} 
 @media screen and (max-width: 450px) {
  padding: 25% 0px 0px 0px;
 }
}


&__button {  
background-color: #d24a4c;opacity: 0.8; 
position: relative;
z-index: 2;
flex: 0 1 100%;

a{
  @include jucc();
}   
  span{
  background-color: #9e9e9e;
@include Text-Style-9;
line-height: 1; 
text-transform: uppercase;
}}}
}

.button-item-plaza-discription{ 
  &_training {  
margin: 17% 0px 0px 0px; 
@media screen and (max-width: 870px) { 
 margin: 6% 0px 0px 0px;   
}
}
}
// =======================================================
//               end of   block-breack                           
// =======================================================