

.block-contacts {
  position: relative;
   
  &__body {
    position: relative;
    @include jucc();
    width: 100%;
    height: 100%;
    padding: 12% 20% 0% 0%;
    z-index: 20;
    @media screen and (max-width: 1300px) {
      padding: 5% 0% 0% 0%;
    }
  }

  // ----------ширина контента-----
  &__content {
    position: relative;
    flex: 0 1 100%;
  }
}

// ---------управление единичными блоками---------------------
.content-contacts {
  &__body {
    position: relative;
    @include jucb();
  }
  // ----ширина единичного блока-----
  &__item {
    flex: 0 1 29%;
    @media screen and (max-width: 1600px) {
      flex: 0 1 34%;
    }
    @media screen and (max-width: 1200px) {
      flex: 0 1 100%;
    }
  }
  &__img {
    flex: 0 1 62.5%;

    @media screen and (max-width: 1200px) {
      flex: 0 1 100%;
    }
  }
}

// =====единичный блок=========
.contacts-img {
  width: 100%;
  height: 100%;
  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 66% 0% 0% 0%;
  }
  &_bg {
  }
}

// =====единичный блок=========

.tiny-contacts {
  width: 100%;
  height: 100%;
  &__body {
    position: relative;
    text-align: left;
    @include flex();
    width: 100%;
    height: 100%;
    padding: 24% 0% 0% 0%;
    @media screen and (max-width: 1300px) {
      padding: 4% 5% 0% 5%;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    flex: 0 1 100%;

    &_one {
      flex: 0 1 100%;
      @include Text-Style-20;
      line-height: 1;
      text-transform: uppercase;
    }
    &_two {
      flex: 0 1 100%;
      text-transform: uppercase;
      padding: 12% 0% 0% 20%;
      @media screen and (max-width: 1300px) {
        padding: 2% 0% 0% 20%;
      }
      p {
        @include Text-Style-19;
        text-align: left;
        line-height: 1.5;
      }
    }
  }
  &__button {
    position: relative;
    z-index: 2;
    flex: 0 1 140px;
    margin: 15% 0% 0% 0%;
    @media screen and (max-width: 1300px) {
      margin: 5% 0% 5% 0%;
    }
    span {
      text-align: start;
      &:after {
        width: 95%;
      }
    }
  }
}
