@import "common/mixins";
@import "common/variables";

.discription {

  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 14% 0px 3% 0px;
    @media screen and (max-width: 1130px) {
      padding: 8% 0px 3% 0px;
    }
    @media screen and (max-width: 880px) {
      padding: 8% 0px 80% 0px;
    }
    @media screen and (max-width: 570px) {
      padding: 8% 0px 90% 0px;
    }
    @media screen and (max-width: 430px) {
      padding: 8% 0px 120% 0px;
    }
    @media screen and (max-width: 250px) {
      padding: 8% 0px 150% 0px;
    }
    @include flex();
    flex-wrap: wrap;
  }
  &__header {
    flex: 0 1 100%;
  }
  &__plaza {
    flex: 0 1 100%;
  }
  &__button {
    flex: 0 1 30%;
    margin: 20px 0px 0px 0px;
  }
}

// ------ шапка--------------------
.header-discription {
  &__body {
    @include jucc();
    position: relative;
    padding: 0px 0px 15.5% 0px;
    &:after {
      content: "";
      background-color: #5da8ef;
      position: absolute;
      width: 2px;
      height: 100px;
      @media screen and (max-width: 840px) {
        height: 50px;
        top: 70%;
      }
      @media screen and (max-width: 420px) {
        height: 20px;
        top: 80%;
      }
      top: 50%;
      left: 0;
      z-index: 2;

      left: 50%;
      @include tr(-50%, 0px, 0px);
    }
  }

  &__title {
    flex: 0 1 49.83%;
    @include Text-Style-5;
    @media screen and (max-width: 1210px) {
      flex: 0 1 83%;
    }
  }

  &__text {
    @include Text-Style-6;
    flex: 0 1 100%;
    text-transform: uppercase;
  }
}

// -----контейнер для единичны блоков-----------------
.plaza-discription {
  &__body {
    @include flex();

    width: 100%;
    height: 100%;
  }
  &__item {
    flex: 0 1 100%;
  }
}
// -----------------------------------------
.item-plaza-discription {
  &__body {
    @include flex();
    @media screen and (max-width: 880px) {
      @include jucc();
    }
  }

  &__item {
    flex: 0 1 100%;
    margin: 0% 20% 0% 0%; 
    @media screen and (max-width: 880px) {
         margin: 0% 0% 0% 0%; 

    } 
    &_icon {
      flex: 0 1 50%;
      @media screen and (max-width: 880px) {
        flex: 0 1 90%;
        padding: 0px 0px 50% 0px;
      }
      padding: 0px 0px 30.2% 0px;
    }

    &_text {
      @include Text-Style-7;
      flex: 0 1 100%;        
      padding: 5% 0px 0px 9%; 
      @media screen and (max-width: 880px) {
        padding: 0% 0% 0% 0%;
        @include jucc();
      }
      @include flex();
      span {
        flex: 0 1 31%;
        @media screen and (max-width: 880px) {
          flex: 0 1 70%;
          margin: 2% 0% 0% 0%;
        }
      }
    }
    &_button {
      flex: 0 1 auto;
      padding: 5px 0px 2px 2px;
      margin: 5% 0px 0px 9%;
      @media screen and (max-width: 880px) {
        margin: 5% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
      }
    }
  }
}
// ----------двойной единичный блок ---------------------------
.item-plaza-discription-duble {
  &__body {
    width: 100%;
    height: 100%;
    @include flex();
    position: relative;
  }
  &__left {
    flex: 0 100%;
  }
}

.right-discription-duble {
  position: relative;
  position: absolute;
  width: 58.21%;
  height: 102%;
  top: 8%;
  right: 0%;
  @media screen and (max-width: 880px) {
    top: 110%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 100%;
  }
}

// ---------------------------------------------
.button-item-plaza-discription {
  cursor: pointer;
  &:hover span {
    color: #5da8ef;
  }
  span {
    @include Text-Style-8;
    @include anim(0.2s);
    text-transform: uppercase;
    line-height: 1;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 241%;
      left: 0;
      z-index: 2;
      background: #b5e0ff;
      @include anim(0.2s);
    }
  }
}

.button-item-plaza-discription_slider-shop {
  padding: 75px 0px 20px 0px;
}
