@import "common/mixins";
@import "common/variables";

.discription {
  background-color: #bb8830;
  border: 2px solid red;

  &__body {
    position: relative;
    width: 100%;
    height: 100%;  
    margin: 0px auto;
    background-color: #5c4317;
    padding: 14% 0px 20% 0px;  
    @include flex();
    flex-wrap: wrap;
  }
  &__header {
flex: 0 1 100%;

  }
  &__plaza {
flex: 0 1 100%;
  }
  &__button {
    flex: 0 1 30%;
    margin: 20px 0px 0px 0px;
  }
}

// ------ шапка--------------------
.header-discription {
  &__body { 
@include jucc(); 
position: relative;
padding: 0px 0px 15.5% 0px;
&:after {
            content: "";
           background-color: #5da8ef;
           position: absolute;
           width: 2px;
            height: 100px; 
            top: 50%; 
            left: 0;
            z-index: 2;
//bottom: 0;
//right: 0;
//top: -50%;
left: 50%;
@include tr(-50%,0px,0px);
//@include rotate(45deg);
//transform: translate3d(-50%, 0px, 0px) rotate(45deg);
//@include anim(0.2s);
      }

}

  &__title {
    background-color: #3dbbff;
    flex: 0 1 49.83%; 

      @include Text-Style-5;
  
  }

  &__text {
     @include Text-Style-6;
    flex: 0 1 100%;  

  }
}

// -----контейнер для единичны блоков-----------------
.plaza-discription {
  &__body {
    background-color: #ff9419;
    @include flex();  
    width: 100%;
    height: 100%;
 
  }
  &__item {
    border: 2px solid aqua;
    flex: 0 1 100%; 
       @media screen and (max-width: 600px) {
 flex: 0 1 100%;
    }
    &_duble {
      flex: 0 1 100%;
           @media screen and (max-width: 600px) {
 flex: 0 1 100%;
    }
    }
  }
}
// -----------------------------------------
.item-plaza-discription {
  background-color: #193549;
  &__body {  
@include flex();
 
  }
  
  &__item {  
flex: 0 1 100%;
	&_icon {
    background-color: #bee1ff;
    flex: 0 1 50%;
padding: 0px 0px 30.2% 0px;  
  }
 
  &_text {
    background-color: #b29c69;
     @include Text-Style-7;
flex: 0 1 100%; 
    padding: 5% 0px 0px 9%;
     @include flex();
span{ 
  flex: 0 1 31%; 
background-color: #9FFF0F;
}
  } 
  &_button { 
    flex: 0 1 auto;  
    padding: 5px 0px 2px 2px;      
margin: 5% 0px 0px 9%; 

  } 
}
}
// ----------двойной единичный блок ---------------------------
.item-plaza-discription-duble {
  &__body {
    width: 100%;
    height: 100%;
   @include flex();
   position: relative;
   
  }
  &__left {
    flex: 0 100%; 
    @media screen and (max-width: 600px) {
     flex: 0 1 100%;
    }
  }
}

.right-discription-duble {
  border: 2px solid #a6afff;
   position: relative;
  position: absolute;
width: 58.21%;
height: 102%; 
top: 8%; 
right: 0%; 
a{
 position: relative;
  position: absolute;
     background-color: #fff;
       border-radius: 0%;
 width: 17px; 
 height: 17px;  
 left: 50%;  top: 50%;
@include tr(-30%,-50%,0px); 
 z-index: 4;  
 @include anim(0.2s); 

&:after {
            content: "";
           background-color: #5da8ef;
           position: absolute;
           width: 30px;     
            height: 20px;   
            left: -109%;   
            z-index: 4;   
top: -89%;  
transform: translate3d(50%, 0px, 0px)rotate(28deg) ;  
      } 
 &:before {
            content: "";
           background-color: #5da8ef;
           position: absolute;
           width: 30px;     
            height: 20px;   
            left: -109%;     
            z-index: 4;   
            top: 77%;       
transform: translate3d(50%, 0px, 0px)rotate(-28deg) ;   
      } 
      &:hover{  
        background-color:#457DB2;
      }
 }
 &:after {
            content: "";
           background-color:#5da8ef;
           position: absolute;
           width: 68px;
            height: 68px; 
             
            z-index: 1; 
            border-radius: 50%;
left: 50%;  top: 50%;
@include tr(-50%,-50%,0px);
      }
 
}

// ---------------------------------------------
.button-item-plaza-discription {
  border: 2px solid #4d2342;
  background-color: #3ad900;
cursor: pointer; 
  
 
  &:hover span{
   color: #5DA8EF;
&:after {background: #5da8ef;
;}   
  }
  span {
   @include Text-Style-8;
   @include anim(0.2s); 
text-transform: uppercase;
line-height: 1; 
position: relative;

&:after {
            content: "";
           position: absolute;
           width: 100%;
            height: 2px;
            top: 241%;  
            left: 0;
            z-index: 2;
            background: #B5E0FF; 
 @include anim(0.2s);
   
      }  
  }

}

