.block-1 {
  &__body {
    padding: 50px 0px 0px 0px;
    @include flex();
  }
  &__item {
    flex: 0 1 20%;
    border: 2px solid #d4b584;
  }
}
.item-block-1 {
  &__body {
    @include jucb();
    background-color: red;
  }
  &__left {
    background-color: #193549;
    width: 80%;
    flex: 0 1 80%;

    height: 100%;
    padding: 250px 0px 0px 0px;
  }
  &__right {
    background-color: #e628ff;
    flex: 0 1 20%;

    height: auto;
    @include fdc();
    &_high {
      background-color: #246eb9;
      flex: 0 1 20%;
    }
    &_low {
      background-color: #4e3710;
      flex: 0 1 80%;
    }
  }
}