@import 'common/mixins';
@import "common/variables";
@import "common/fonts";


.footer{
width: 100%;
height: 100%;
&__body {  
position: relative;
text-align: left;
padding: 8% 0% 13% 0%; 
@media screen and (max-width: 650px) {
 padding: 5% 0% 13% 0%; 
}
}

 
&__icon {  
position: relative;
z-index: 2;
flex: 0 1 100%;
background-color: #246EB9; opacity: 0.8;
@include jucc();

}

&__title { 
background-color: #9FFF0F;opacity: 0.8;
flex: 0 1 100%;
@include jucc();
padding: 3% 0% 0% 0%; 

}
}

.menu-footer {

  &__body { 
background-color: #d24a4c;
flex: 0 1 33%;
@media screen and (max-width: 1000px) {
 flex: 0 1 50%;
} 
@media screen and (max-width: 750px) {
 flex: 0 1 80%; 
}
    @include alic();
    @include jucb();
    @media screen and (max-width: 500px) {
         @include fdc(); 
    }
  }

} 
.menu-footer li p {
  @include Text-Style;
  line-height: 0.7;
  padding: 10px 0px;
  @media screen and (max-width: 500px) {
    padding: 15px 0px;
  }
  text-transform: uppercase; 
 @include anim(0.2s);

}
.menu-footer  li:hover  p{ 
  z-index: 100;
  color: #C2DAEB;
} 




