@import 'common/mixins';
@import "common/variables";
@import "common/fonts";

.footer {
 background-color: #1C2329; 

  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 32px 0px 0px 0px;
  }
  
 
}

// ------низ--------------------
.bottom-footer {

  &__body {
    background-color: #FF9419;
    @include jucb();
    padding: 30px 10px 0px 10px;
    @media screen and (max-width: 820px) {
      padding: 5px 10px 0px 10px;
    }
    @media screen and (max-width: 500px) {
      @include fdc();
      @include alic();
    }
    span {
      flex: 0 1 50%;

      background-color: #9FFF0F;
     font-family: Lobster-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
      text-align: left;
      color: $sandy-brown;
    }
  }
  &__link {
    background-color: red;
    flex: 0 1 50%;
 
  
    p {
    font-family: Lobster-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
      text-align: right;
      @media screen and (max-width: 500px) {
       text-align: center;
      }
      color: $sandy-brown;
      width: 100%;
      height: 100%;
      text-decoration: underline;
    }

  }
}

// -----контейнер для единичны блоков-----------------
.plaza-footer {
  &__body {
    padding: 20px 0px 0px 0px;
    @include jucb();
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    @media screen and (max-width: 820px) {
      @include fdc();
      padding: 20px 10px 0px 10px;
    }
    nav {
      flex: 0 1 49%;
      @media screen and (max-width: 820px) {
       padding: 20px 0px 20px 0px;
      }
      ul {
        @include jucs();
        flex-wrap: wrap;
        li {
          padding: 0px 10px 0px 0px;
        }
      }
    }
  }

}
// ---------- единичный блок---------------------------
.item-plaza-footer {
  
  li {
    display: inline-flex;
  }
  &__item {
    span {

     
      text-transform: uppercase;
    }
  }

  &__right {
    span {
    font-family: Lobster-Regular;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
      text-align: left;
      color: $sandy-brown;
      position: relative;

      span {
       font-family: Lobster-Regular;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 7%;
        left: -15%;
      }
    }
  }
}
