extends common/home

block header
	//- include common/header

block content
	//- include content/some-block
	//- include content/slider
	//- include content/discription
	//- include content/slider-boards
	include content/training
	include content/breack
	//- include content/mail
	include content/contacts

block footer
	//- include common/footer
