
.training
	.container
		.training__body.training__body_breack
			.training__side.training__side_breack.side Point Break
			.training__serfer.serfer.training__serfer_breack
				.serfer__bg.ibg.bg
					img(src="img/image/img-5.jpg",alt="") 
			.training__item.training__item_breack.tiny-training
				.tiny-training__body
					.tiny-training__title(data-number="02") Point Break 
					.tiny-training__text.tiny-training__text_one By better understandingthe 	various aspects of surfing, By better understanding thevarious 	aspects of surfing, you will improve faster and havemore fun in 	the water.
					.button-item-plaza-discription.button-item-plaza-discription_training
						a(href="#")
							span Read More

