

.block-breack
	.block-breack__body.container
		.block-breack__content.content-breack
			.content-breack__body
				.content-breack__bord.bord
					.bord__bg.ibg.bg
						img(src="img/image/img-5.jpg",alt="") 
				.content-breack__item.tiny-breack
					.tiny-breack__body
						.tiny-breack__title Point Break
						.tiny-breack__text.tiny-breack__text_one By better understanding the various aspects of By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
						.button-item-plaza-discription.button-item-plaza-discription_training
							a(href="#")
								span Read More
				