.contacts.container
	.contacts__body
		.contacts__title Join the Club
		.contacts__text.contacts__text_one By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
		.contacts__text.contacts__text_four.link-2
			.link-2__body
				form.link-2__form.form-link-2(action='')
					.form-link-2__input.form-link-2__input_mail
						input(type='text' name='Ваш e-mail'   placeholder='Your E-mail')
					.form-link-2__input.form-link-2__input_submit
						input(type='submit' name='submit' value='')
						img(src="img/controls/boards-right.svg",alt="")
