.block-contacts
	.block-contacts__body.container.container__contacts  
		.block-contacts__content.content-contacts
			.content-contacts__body
				.content-contacts__img.contacts-img
					.contacts-img__body
						.contacts-img__bg.ibg.bg
							img(src="img/image/img-6.jpg",alt="")
				.content-contacts__item.tiny-contacts
					.tiny-contacts__body
						.tiny-contacts__text.tiny-contacts__text_one Our Camp
						.tiny-contacts__text.tiny-contacts__text_two
							p CA 91932, USA
							p Imperial Beach
							p 560 Silver Strand Blvd
						.tiny-contacts__button.button-item-plaza-discription
								a(href="#")
									span Get in Touch

