.blockkk
	.blockkk__body.container
		.blockkk__header.header-blockkk
			.header-blockkk__body
				.header-blockkk__icon
					img.icon(src="img/svg/mercedes-benz.svg",alt="")   
				.header-blockkk__title header-blockkk__title
				.header-blockkk__text header-blockkk__text  
		.blockkk__plaza.plaza-blockkk
			.plaza-blockkk__body
				.plaza-blockkk__item.item-plaza-blockkk
					.item-plaza-blockkk__body
						.item-plaza-blockkk__item.item-plaza-blockkk__item_icon
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
						.item-plaza-blockkk__item.item-plaza-blockkk__item_title item-plaza-block__title
						.item-plaza-blockkk__item.item-plaza-blockkk__item_text item-plaza-block__text
						.item-plaza-blockkk__item.item-plaza-blockkk__item_button.button-item-plaza-blockkk
							span button-item-plaza-block
				
				.plaza-blockkk__item.plaza-blockkk__item_duble.item-plaza-blockkk-duble
					.item-plaza-blockkk-duble__body
						.item-plaza-blockkk-duble__left.item-plaza-blockkk
							.item-plaza-blockkk__body
								.item-plaza-blockkk__item.item-plaza-blockkk__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-blockkk__item.item-plaza-blockkk__item_title item-plaza-block__title
								.item-plaza-blockkk__item.item-plaza-blockkk__item_text item-plaza-block__text
								.item-plaza-blockkk__item.item-plaza-blockkk__item_button.button-item-plaza-blockkk
									span button-item-plaza-block
						.item-plaza-blockkk-duble__right.right-blockkk-duble
							.right-blockkk-duble__body
								.right-blockkk-duble__head head
								.right-blockkk-duble__foot foot

				.plaza-blockkk__item.plaza-blockkk__item_duble.item-plaza-blockkk-duble
					.item-plaza-blockkk-duble__body
						.item-plaza-blockkk-duble__right.right-blockkk-duble
							.right-blockkk-duble__body
								.right-blockkk-duble__head head
								.right-blockkk-duble__foot foot
						.item-plaza-blockkk-duble__left.item-plaza-blockkk
							.item-plaza-blockkk__body
								.item-plaza-blockkk__item.item-plaza-blockkk__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-blockkk__item.item-plaza-blockkk__item_title item-plaza-block__title
								.item-plaza-blockkk__item.item-plaza-blockkk__item_text item-plaza-block__text
								.item-plaza-blockkk__item.item-plaza-blockkk__item_button.button-item-plaza-blockkk
									span button-item-plaza-block
				.plaza-blockkk__item.plaza-blockkk__item_duble.item-plaza-blockkk-duble
					.item-plaza-blockkk-duble__body
						.item-plaza-blockkk-duble__right.right-blockkk-duble
							.right-blockkk-duble__body
								.right-blockkk-duble__head head
								.right-blockkk-duble__foot foot
						.item-plaza-blockkk-duble__left.item-plaza-blockkk
							.item-plaza-blockkk__body
								.item-plaza-blockkk__item.item-plaza-blockkk__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-blockkk__item.item-plaza-blockkk__item_title item-plaza-block__title
								.item-plaza-blockkk__item.item-plaza-blockkk__item_text item-plaza-block__text
								.item-plaza-blockkk__item.item-plaza-blockkk__item_button.button-item-plaza-blockkk
									span button-item-plaza-block
						.item-plaza-blockkk-duble__right.right-blockkk-duble
							.right-blockkk-duble__body
								.right-blockkk-duble__head head
								.right-blockkk-duble__foot foot



		a.blockkk__button.button-blockkk(href="#")
			span BUTTON-BLOCK
