section#discription.discription
	.discription__body.container
		.discription__header.header-discription
			.header-discription__body
				h2.header-discription__title Surfing is the most blissful experience you can have on this planet, a taste of heaven.
				.header-discription__text John McCarthy
		.discription__plaza.plaza-discription
			.plaza-discription__body
				.plaza-discription__item.plaza-discription__item_duble.item-plaza-discription-duble
					.item-plaza-discription-duble__body
						.item-plaza-discription-duble__left.item-plaza-discription
							.item-plaza-discription__body
								.item-plaza-discription__item.item-plaza-discription__item_icon.ibg
									img(src="img/image/img-2.jpg",alt="serfer")
								.item-plaza-discription__item.item-plaza-discription__item_text
									span By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
								.item-plaza-discription__item.item-plaza-discription__item_button.button-item-plaza-discription
									a(href="#")
										span Read More
						.right-discription-duble.ibg(href="#") 
							//- img(src="img/image/img-3.jpg",alt="wave")
							//- a(href="https://www.youtube.com/watch?v=LFDaKUHgK7E")
							//- https://webformyself.com/kak-razmestit-video-na-sajte/
							iframe(width="100%" height="100%" src="https://www.youtube.com/embed/LFDaKUHgK7E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

