.block-1 BLOCK-1
	.block-1__body.container
		.block-1__item.item-block-1
			.item-block-1__body
				.item-block-1__left
				.item-block-1__right
					.item-block-1__right_high
					.item-block-1__right_low
		.block-1__item.item-block-1
			.item-block-1__body
				.item-block-1__left
				.item-block-1__right
					.item-block-1__right_high
					.item-block-1__right_low