section
	.slider__body.container
		.slider__plaza.plaza-slider
			.plaza-slider__body.slider-js.container
				.plaza-slider__item.item-plaza-slider
					.item-plaza-slider__body
						.item-plaza-slider__bg.ibg
							img(src="img/image/img-header.jpg",alt="")
						.item-plaza-slider__text.item-plaza-slider__text_blue
							p your
						.item-plaza-slider__text.item-plaza-slider__text_big
							p Beautiful Escape
						.item-plaza-slider__text.item-plaza-slider__text_grey
							p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
				.plaza-slider__item.item-plaza-slider
					.item-plaza-slider__body
						.item-plaza-slider__bg.ibg
							img(src="img/image/img-header.jpg",alt="")
						.item-plaza-slider__text.item-plaza-slider__text_blue
							p your
						.item-plaza-slider__text.item-plaza-slider__text_big
							p Beautiful Escape
						.item-plaza-slider__text.item-plaza-slider__text_grey
							p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
				.plaza-slider__item.item-plaza-slider
					.item-plaza-slider__body
						.item-plaza-slider__bg.ibg
							img(src="img/image/img-header.jpg",alt="")
						.item-plaza-slider__text.item-plaza-slider__text_blue
							p your
						.item-plaza-slider__text.item-plaza-slider__text_big
							p Beautiful Escape
						.item-plaza-slider__text.item-plaza-slider__text_grey
							p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
				.plaza-slider__item.item-plaza-slider
					.item-plaza-slider__body
						.item-plaza-slider__bg.ibg
							img(src="img/image/img-header.jpg",alt="")
						.item-plaza-slider__text.item-plaza-slider__text_blue
							p your
						.item-plaza-slider__text.item-plaza-slider__text_big
							p Beautiful Escape
						.item-plaza-slider__text.item-plaza-slider__text_grey
							p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
				.plaza-slider__item.item-plaza-slider
					.item-plaza-slider__body
						.item-plaza-slider__bg.ibg
							img(src="img/image/img-header.jpg",alt="")
						.item-plaza-slider__text.item-plaza-slider__text_blue
							p your
						.item-plaza-slider__text.item-plaza-slider__text_big
							p Beautiful Escape
						.item-plaza-slider__text.item-plaza-slider__text_grey
							p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.

