section.slider1
	.slider1__body.container
		.slider1__header.header-slider1
				.header-slider1__title Интересные
				.header-slider1__text  ЦитатЫ
		.slider1__plaza.plaza-slider1
			.plaza-slider1__body.slider1-js
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»

		.plaza-slider1__arrows.arrows-slider
			.arrows-slider__prev
				span.icon-coin-dollar.icomoon
			.arrows-slider__next
				span.icon-coin-euro.icomoon
