//- section.sliderbords
//- 	.sliderbords__body
//- 		.sliderbords__header.header-sliderbords
//- 				.header-sliderbords__title Shop
//- 				.header-sliderbords__text  Surfboards
//- 		.sliderbords__plaza.plaza-sliderbords
//- 			.plaza-sliderbords__body.sliderbords-js.container
//- 				.plaza-sliderbords__item.item-plaza-sliderbords
//- 					.item-plaza-sliderbords__body
//- 						.item-plaza-sliderbords__img.ibg
//- 							img(src="img/boards/board1.jpg",alt="")
//- 						.item-plaza-sliderbords__text.sliderbords-sence
//- 							.sliderbords-sence__body
//- 								.sliderbords-sence__title Funboards
//- 								.sliderbords-sence__text Chilli Rare Bird
//- 								.sliderbords-sence__text_small $890
//- 								.sliderbords-sence__button
//- 									a(href="#")  
//- 										span Buy
				//- .plaza-sliderbords__item.item-plaza-sliderbords
				//- 	.item-plaza-sliderbords__body
				//- 		.item-plaza-sliderbords__img.ibg
				//- 			img(src="img/boards/board1.jpg",alt="")
				//- 		.item-plaza-sliderbords__text.sliderbords-sence
				//- 			.sliderbords-sence__body
				//- 				.sliderbords-sence__title Funboards
				//- 				.sliderbords-sence__text Chilli Rare Bird
				//- 				.sliderbords-sence__text_small $890
				//- 				.sliderbords-sence__button
				//- 					a(href="#")
				//- 						span Buy 
				//- .plaza-sliderbords__item.item-plaza-sliderbords
				//- 	.item-plaza-sliderbords__body
				//- 		.item-plaza-sliderbords__img.ibg
				//- 			img(src="img/boards/board1.jpg",alt="")
				//- 		.item-plaza-sliderbords__text.sliderbords-sence
				//- 			.sliderbords-sence__body
				//- 				.sliderbords-sence__title Funboards
				//- 				.sliderbords-sence__text Chilli Rare Bird
				//- 				.sliderbords-sence__text_small $890
				//- 				.sliderbords-sence__button
				//- 					a(href="#")
				//- 						span Buy
				//- .plaza-sliderbords__item.item-plaza-sliderbords
				//- 	.item-plaza-sliderbords__body
				//- 		.item-plaza-sliderbords__img.ibg
				//- 			img(src="img/boards/board1.jpg",alt="")
				//- 		.item-plaza-sliderbords__text.sliderbords-sence
				//- 			.sliderbords-sence__body
				//- 				.sliderbords-sence__title Funboards
				//- 				.sliderbords-sence__text Chilli Rare Bird
				//- 				.sliderbords-sence__text_small $890
				//- 				.sliderbords-sence__button
				//- 					a(href="#")
				//- 						span Buy




		.plaza-sliderbords__arrows.arrows-slider
			.arrows-slider__prev
				span.icon-coin-dollar.icomoon
			.arrows-slider__next
				span.icon-coin-euro.icomoon

.slider-boards
	.slider-boards__body.sliderbords-js.slider-container
		.block-slider
			.block-slider__body
				.block-slider__item.tiny1.ibg 
					img(src="img/boards/board1.jpg",alt="") 
				.item-small.tiny2
					.tiny2__body
						.tiny2__title Funboards
						.tiny2__text.tiny2__text_one Chilli Rare Bird
						.tiny2__text.tiny2__text_two $890 
						.tiny2__button
							a(href="#")
								span Buy
		.block-slider
			.block-slider__body
				.block-slider__item.tiny1.ibg 
					img(src="img/boards/board1.jpg",alt="") 
				.item-small.tiny2
					.tiny2__body
						.tiny2__title Funboards
						.tiny2__text.tiny2__text_one Chilli Rare Bird
						.tiny2__text.tiny2__text_two $890 
						.tiny2__button
							a(href="#")
								span Buy
		.block-slider
			.block-slider__body
				.block-slider__item.tiny1.ibg 
					img(src="img/boards/board1.jpg",alt="") 
				.item-small.tiny2
					.tiny2__body
						.tiny2__title Funboards
						.tiny2__text.tiny2__text_one Chilli Rare Bird
						.tiny2__text.tiny2__text_two $890 
						.tiny2__button
							a(href="#")
								span Buy
		.block-slider
			.block-slider__body
				.block-slider__item.tiny1.ibg 
					img(src="img/boards/board1.jpg",alt="") 
				.item-small.tiny2
					.tiny2__body
						.tiny2__title Funboards
						.tiny2__text.tiny2__text_one Chilli Rare Bird
						.tiny2__text.tiny2__text_two $890 
						.tiny2__button
							a(href="#")
								span Buy
		.block-slider
			.block-slider__body
				.block-slider__item.tiny1.ibg 
					img(src="img/boards/board1.jpg",alt="") 
				.item-small.tiny2
					.tiny2__body
						.tiny2__title Funboards
						.tiny2__text.tiny2__text_one Chilli Rare Bird
						.tiny2__text.tiny2__text_two $890 
						.tiny2__button
							a(href="#")
								span Buy
		.block-slider
			.block-slider__body
				.block-slider__item.tiny1.ibg 
					img(src="img/boards/board1.jpg",alt="") 
				.item-small.tiny2
					.tiny2__body
						.tiny2__title Funboards
						.tiny2__text.tiny2__text_one Chilli Rare Bird
						.tiny2__text.tiny2__text_two $890 
						.tiny2__button
							a(href="#")
								span Buy









.tiny.container
	.tiny__body
		.tiny__bg.ibg.bg
			img(src="img/image/layer-67.gif",alt="") 
		.tiny__icon
			img.icon(src="img/image/mercedes-benz.svg",alt="")
		.tiny__title item-block2__title
		.tiny__text.tiny__text_one left-block-one__text1
		.tiny__text.tiny__text_two left-block-two__text2
		.tiny__text.tiny__text_three left-block-three__text3
		.tiny__text.tiny__text_four left-block-four__text4
		.tiny__button
			a(href="#")
				span button
