

.slider-shop
	.slider-shop__body.container
		.slider-shop__head.head-tiny
			.head-tiny__body
				.head-tiny__title Shop
				.head-tiny__text.head-tiny__text_one Surfboards
		.slider-shop__slides.slider-shop-js.container-top
			.slider-shop__slide.slider-shop-slide
				.slider-shop-slide__body
					.slider-shop-slide__main.ibg.bg
						img(src="img/boards/board1.jpg",alt="")
					.slider-shop-slide__small.slider-shop-tiny
						.slider-shop-tiny__body
							.slider-shop-tiny__title Funboards
							.slider-shop-tiny__text.slider-shop-tiny__text_one Chilli Rare Bird
							.slider-shop-tiny__text.slider-shop-tiny__text_two $890
							.slider-shop-tiny__button
								a(href="#")
									span Buy
			.slider-shop__slide.slider-shop-slide
				.slider-shop-slide__body
					.slider-shop-slide__main.ibg.bg
						img(src="img/boards/board2.jpg",alt="")
					.slider-shop-slide__small.slider-shop-tiny
						.slider-shop-tiny__body
							.slider-shop-tiny__title Surfboards
							.slider-shop-tiny__text.slider-shop-tiny__text_one Emery NEM XF
							.slider-shop-tiny__text.slider-shop-tiny__text_two $950
							.slider-shop-tiny__button
								a(href="#")
									span Buy
			.slider-shop__slide.slider-shop-slide
				.slider-shop-slide__body
					.slider-shop-slide__main.ibg.bg
						img(src="img/boards/board3.jpg",alt="")
					.slider-shop-slide__small.slider-shop-tiny
						.slider-shop-tiny__body
							.slider-shop-tiny__title Funboards
							.slider-shop-tiny__text.slider-shop-tiny__text_one Chilli Rare Bird
							.slider-shop-tiny__text.slider-shop-tiny__text_two $590
							.slider-shop-tiny__button
								a(href="#")
									span Buy
			.slider-shop__slide.slider-shop-slide
				.slider-shop-slide__body
					.slider-shop-slide__main.ibg.bg
						img(src="img/boards/board1.jpg",alt="")
					.slider-shop-slide__small.slider-shop-tiny
						.slider-shop-tiny__body
							.slider-shop-tiny__title Surfboards
							.slider-shop-tiny__text.slider-shop-tiny__text_one Agency GROM
							.slider-shop-tiny__text.slider-shop-tiny__text_two $890
							.slider-shop-tiny__button
								a(href="#")
									span Buy
			.slider-shop__slide.slider-shop-slide
				.slider-shop-slide__body
					.slider-shop-slide__main.ibg.bg
						img(src="img/boards/board2.jpg",alt="")
					.slider-shop-slide__small.slider-shop-tiny
						.slider-shop-tiny__body
							.slider-shop-tiny__title Funboards
							.slider-shop-tiny__text.slider-shop-tiny__text_one Emery NEM XF
							.slider-shop-tiny__text.slider-shop-tiny__text_two $600
							.slider-shop-tiny__button
								a(href="#")
									span Buy



		.slider-shop__arrows.arrows-slider-shop
			.arrows-slider-shop__arrow.arrows-slider-shop__arrow_prev
				img.icon(src="img/image/mercedes-benz.svg",alt="") 
			.arrows-slider-shop__arrow.arrows-slider-shop__arrow_next
				img.icon(src="img/image/mercedes-benz.svg",alt="") 

.button-item-plaza-discription.button-item-plaza-discription_slider-shop
	a(href="#")
		span Read More

