
.blockimg
	.blockimg__body
		.blockimg__item.item-blockimg
			.item-blockimg__icon
				.icon-star-full.icomoon
				img(src="img/logo-1.gif",alt="")
			.item-blockimg__title BLOCKIMG
			.item-blockimg__text s rem voluptatibus tenetur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequatur dolorem hic iusto illo repudiandae eum voluptates rem voluptatibus tenetur?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequatur dolorem hic iusto illo repudiandae eum voluptate
			.item-blockimg__button
		.bg.ibg
			img(src="img/layer-67.gif",alt="")



.blockkk
	.blockkk__body.container
		.blockkk__header.header-blockkk
			.header-blockkk__body
				.header-blockkk__icon
					img.icon(src="img/svg/mercedes-benz.svg",alt="")   
				.header-blockkk__title header-blockkk__title
				.header-blockkk__text header-blockkk__text  
		.blockkk__plaza.plaza-blockkk
			.plaza-blockkk__body
				.plaza-blockkk__item.item-plaza-blockkk
					.item-plaza-blockkk__body
						.item-plaza-blockkk__item.item-plaza-blockkk__item_icon
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
						.item-plaza-blockkk__item.item-plaza-blockkk__item_title item-plaza-block__title
						.item-plaza-blockkk__item.item-plaza-blockkk__item_text item-plaza-block__text
						.item-plaza-blockkk__item.item-plaza-blockkk__item_button.button-item-plaza-blockkk
							span button-item-plaza-block
				
				.plaza-blockkk__item.plaza-blockkk__item_duble.item-plaza-blockkk-duble
					.item-plaza-blockkk-duble__body
						.item-plaza-blockkk-duble__left.item-plaza-blockkk
							.item-plaza-blockkk__body
								.item-plaza-blockkk__item.item-plaza-blockkk__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-blockkk__item.item-plaza-blockkk__item_title item-plaza-block__title
								.item-plaza-blockkk__item.item-plaza-blockkk__item_text item-plaza-block__text
								.item-plaza-blockkk__item.item-plaza-blockkk__item_button.button-item-plaza-blockkk
									span button-item-plaza-block
						.item-plaza-blockkk-duble__right.right-blockkk-duble
							.right-blockkk-duble__body
								.right-blockkk-duble__head head
								.right-blockkk-duble__foot foot
		a.blockkk__button.button-blockkk(href="#")
			span BUTTON-BLOCK


.block-trips
	.block-trips__body.container
		.block-trips__head.tiny-trips-head
			.tiny-trips-head__body
				.tiny-trips-head__bg.ibg.bg
					img(src="img/layer-67.gif",alt="") 
				.tiny-trips-head__icon
					img.icon(src="img/icons/mercedes-benz.svg",alt="")
				.tiny-trips-head__title item-block2__title
				.tiny-trips-head__text.tiny-trips-head__text_one left-block-one__text1
				.tiny-trips-head__text.tiny-trips-head__text_two left-block-two__text2
				.tiny-trips-head__text.tiny-trips-head__text_three left-block-three__text3
				.tiny-trips-head__text.tiny-trips-head__text_four left-block-four__text4
				.tiny-trips-head__button
					a(href="#")
						span button
		.block-trips__content.content-trips
			.content-trips__body
				.content-trips__item.tiny-trips
					.tiny-trips__body
						.tiny-trips__bg.ibg.bg
							img(src="img/layer-67.gif",alt="") 
						.tiny-trips__icon
							img.icon(src="img/icons/mercedes-benz.svg",alt="")
						.tiny-trips__title item-block2__title
						.tiny-trips__text.tiny-trips__text_one left-block-one__text1
						.tiny-trips__text.tiny-trips__text_two left-block-two__text2
						.tiny-trips__text.tiny-trips__text_three left-block-three__text3
						.tiny-trips__text.tiny-trips__text_four left-block-four__text4
						.tiny-trips__button
							a(href="#")
								span button
				.content-trips__item.tiny-trips
					.tiny-trips__body
						.tiny-trips__bg.ibg.bg
							img(src="img/layer-67.gif",alt="") 
						.tiny-trips__icon
							img.icon(src="img/icons/mercedes-benz.svg",alt="")
						.tiny-trips__title item-block2__title
						.tiny-trips__text.tiny-trips__text_one left-block-one__text1
						.tiny-trips__text.tiny-trips__text_two left-block-two__text2
						.tiny-trips__text.tiny-trips__text_three left-block-three__text3
						.tiny-trips__text.tiny-trips__text_four left-block-four__text4
						.tiny-trips__button
							a(href="#")
								span button
				.content-trips__item.tiny-trips
					.tiny-trips__body
						.tiny-trips__bg.ibg.bg
							img(src="img/layer-67.gif",alt="") 
						.tiny-trips__icon
							img.icon(src="img/icons/mercedes-benz.svg",alt="")
						.tiny-trips__title item-block2__title
						.tiny-trips__text.tiny-trips__text_one left-block-one__text1
						.tiny-trips__text.tiny-trips__text_two left-block-two__text2
						.tiny-trips__text.tiny-trips__text_three left-block-three__text3
						.tiny-trips__text.tiny-trips__text_four left-block-four__text4
						.tiny-trips__button
							a(href="#")
								span button



.block-1 
	.block-1__body.container
		.block-1__item.item-block-1
			.item-block-1__body
				.item-block-1__left.left-block-1
					.left-block-1__body
						.left-block-1__bg.ibg.bg 
							img(src="img/layer-67.gif",alt="")
						.left-block-1__icon
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
						.left-block-1__title left-block-1__title
						.left-block-1__text left-block-1__text
						.left-block-1__button
							a(href="#")
								span button
				.item-block-1__right
					.item-block-1__right_high high
					.item-block-1__right_low  low



.tiny.container
	.tiny__body
		.tiny__bg.ibg.bg
			img(src="img/layer-67.gif",alt="") 
		.tiny__icon
			img.icon(src="img/icons/mercedes-benz.svg",alt="")
		.tiny__title item-block2__title
		.tiny__text.tiny__text_one left-block-one__text1
		.tiny__text.tiny__text_two left-block-two__text2
		.tiny__text.tiny__text_three left-block-three__text3
		.tiny__text.tiny__text_four left-block-four__text4
		.tiny__button
			a(href="#")
				span button


.slider-top
	.slider-top__body.container-top
		.slider-top__head.head-tiny
			.head-tiny__body
				.head-tiny__bg.ibg.bg
					img(src="img/layer-67.gif",alt="") 
				.head-tiny__icon
					img.icon(src="img/icons/mercedes-benz.svg",alt="")
				.head-tiny__title item-block2__title
				.head-tiny__text.head-tiny__text_one left-block-one__text1
				.head-tiny__text.head-tiny__text_two left-block-two__text2
				.head-tiny__text.head-tiny__text_three left-block-three__text3
				.head-tiny__text.head-tiny__text_four left-block-four__text4
				.head-tiny__button
					a(href="#")
						span button
		.slider-top__slides.slider-top-js.container-top
			.slider-top__slide.slider-top-tiny
				.slider-top-tiny__body
					.slider-top-tiny__bg.ibg.bg
						img(src="img/layer-67.gif",alt="") 
					.slider-top-tiny__icon
						img.icon(src="img/icons/mercedes-benz.svg",alt="")
					.slider-top-tiny__title item-block2__title
					.slider-top-tiny__text.slider-top-tiny__text_one left-block-one__text1
					.slider-top-tiny__text.slider-top-tiny__text_two left-block-two__text2
					.slider-top-tiny__text.slider-top-tiny__text_three left-block-three__text3
					.slider-top-tiny__text.slider-top-tiny__text_four left-block-four__text4
					.slider-top-tiny__button
						a(href="#")
							span button
			.slider-top__slide.slider-top-tiny
				.slider-top-tiny__body
					.slider-top-tiny__bg.ibg.bg
						img(src="img/layer-67.gif",alt="") 
					.slider-top-tiny__icon
						img.icon(src="img/icons/mercedes-benz.svg",alt="")
					.slider-top-tiny__title item-block2__title
					.slider-top-tiny__text.slider-top-tiny__text_one left-block-one__text1
					.slider-top-tiny__text.slider-top-tiny__text_two left-block-two__text2
					.slider-top-tiny__text.slider-top-tiny__text_three left-block-three__text3
					.slider-top-tiny__text.slider-top-tiny__text_four left-block-four__text4
					.slider-top-tiny__button
						a(href="#")
							span button
			.slider-top__slide.slider-top-tiny
				.slider-top-tiny__body
					.slider-top-tiny__bg.ibg.bg
						img(src="img/layer-67.gif",alt="") 
					.slider-top-tiny__icon
						img.icon(src="img/icons/mercedes-benz.svg",alt="")
					.slider-top-tiny__title item-block2__title
					.slider-top-tiny__text.slider-top-tiny__text_one left-block-one__text1
					.slider-top-tiny__text.slider-top-tiny__text_two left-block-two__text2
					.slider-top-tiny__text.slider-top-tiny__text_three left-block-three__text3
					.slider-top-tiny__text.slider-top-tiny__text_four left-block-four__text4
					.slider-top-tiny__button
						a(href="#")
							span button
			.slider-top__slide.slider-top-tiny
				.slider-top-tiny__body
					.slider-top-tiny__bg.ibg.bg
						img(src="img/layer-67.gif",alt="") 
					.slider-top-tiny__icon
						img.icon(src="img/icons/mercedes-benz.svg",alt="")
					.slider-top-tiny__title item-block2__title
					.slider-top-tiny__text.slider-top-tiny__text_one left-block-one__text1
					.slider-top-tiny__text.slider-top-tiny__text_two left-block-two__text2
					.slider-top-tiny__text.slider-top-tiny__text_three left-block-three__text3
					.slider-top-tiny__text.slider-top-tiny__text_four left-block-four__text4
					.slider-top-tiny__button
						a(href="#")
							span button
			.slider-top__slide.slider-top-tiny
				.slider-top-tiny__body
					.slider-top-tiny__bg.ibg.bg
						img(src="img/layer-67.gif",alt="") 
					.slider-top-tiny__icon
						img.icon(src="img/icons/mercedes-benz.svg",alt="")
					.slider-top-tiny__title item-block2__title
					.slider-top-tiny__text.slider-top-tiny__text_one left-block-one__text1
					.slider-top-tiny__text.slider-top-tiny__text_two left-block-two__text2
					.slider-top-tiny__text.slider-top-tiny__text_three left-block-three__text3
					.slider-top-tiny__text.slider-top-tiny__text_four left-block-four__text4
					.slider-top-tiny__button
						a(href="#")
							span button
			.slider-top__slide.slider-top-tiny
				.slider-top-tiny__body
					.slider-top-tiny__bg.ibg.bg
						img(src="img/layer-67.gif",alt="") 
					.slider-top-tiny__icon
						img.icon(src="img/icons/mercedes-benz.svg",alt="")
					.slider-top-tiny__title item-block2__title
					.slider-top-tiny__text.slider-top-tiny__text_one left-block-one__text1
					.slider-top-tiny__text.slider-top-tiny__text_two left-block-two__text2
					.slider-top-tiny__text.slider-top-tiny__text_three left-block-three__text3
					.slider-top-tiny__text.slider-top-tiny__text_four left-block-four__text4
					.slider-top-tiny__button
						a(href="#")
							span button


		.slider-top__arrows.arrows-slider-top
			.arrows-slider-top__arrow.arrows-slider-top__arrow_prev
				img.icon(src="img/image/mercedes-benz.svg",alt="") 
			.arrows-slider-top__arrow.arrows-slider-top__arrow_next
				img.icon(src="img/image/mercedes-benz.svg",alt="") 




section.slider1
	.slider1__body.container
		.slider1__header.header-slider1
				.header-slider1__title Интересные
				.header-slider1__text  ЦитатЫ
		.slider1__plaza.plaza-slider1
			.plaza-slider1__body.slider1-js
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»
				.plaza-slider1__item.item-plaza-slider1
					.item-plaza-slider1__body
							.item-plaza-slider1__img.ibg
								img(src="img/layer-67.gif",alt="")
							.item-plaza-slider1__text
								p «Легче одурачить людей, чем убедить их в том, что они одурачены»

		.plaza-slider1__arrows.arrows-slider
			.arrows-slider__prev
				span.icon-coin-dollar.icomoon
			.arrows-slider__next
				span.icon-coin-euro.icomoon

.link-1
	.link-1__body
		.link-1__icon
			//- img(src="img/icons/logo.gif",alt="")
		.link-1__title
		form.link-1__form.form-link-1(action='')
			.form-link-1_input
				input(type='text' name='username'   placeholder='Введитe логин')
			.form-link-1_submit
				input(type='submit' name='submit' value='ok')

.link-2
	.link-2__body
		form.link-2__form.form-link-2(action='')
			.form-link-2__input
				input(type='text' name='Ваш e-mail'   placeholder='e-mail')
			.form-link-2__submit
				input(type='submit' name='submit' value='ok')
				//- img(src="img/icon-15.gif",alt="")



.link-main
	.link-main__body.container
		form.link-main__forma.forma-main(action='')
			.forma-main__body
				input(type='hidden', name='project_name', value='mystart.zzz.com.ua')
				input(type='hidden', name='admin_email', value='yushinbox@gmail.com')
				input(type='hidden', name='form_subject', value='Форма обратной связи')
				.forma-main__input.forma-main__input_name
					label(for='username') Введите Ваш логин
						input#username(type='text', name='username', placeholder='Введите логин', required='')
				.forma-main__input.forma-main__input_pass
					label(for='passvord') Введите Ваш пароль
					input#passvord(type='password', name='password', placeholder='Введите пароль', required='')
				.forma-main__input.forma-main__input_check
					input(type='checkbox', name='checkbox')
				.forma-main__input.forma-main__input_radio
					input(type='radio', name='', id='')
				.forma-main__input.forma-main__input_pass
					input(type='file', name='', id='')
				.forma-main__input.forma-main__input_button
					input(type='button', value='button')
				.forma-main__input.forma-main__input_textarea
					label(for='textarea') Введите Ваши комментарии
					textarea(name='textarea', id='textarea', cols='30', rows='2', placeholder='Комментарии')
				.forma-main__input.forma-main__input_submit
					input(type='submit', name='submit', value='ВОЙТИ')
		.link-main__text
			a(href='#')
				span Восстановить пароль(последняя версия)

.feedback
	.feedback__body.container
		.feedback__header.header-feedback
			.header-feedback__icon
				img.icon(src="img/svg/mercedes-benz.svg",alt="")
			.header-feedback__title header-feedback__title
			.header-feedback__text header-feedback__text  
		.feedback__plaza.plaza-feedback
			.plaza-feedback__body
				.plaza-feedback__item.item-plaza-feedback-duble
					.item-plaza-feedback-duble__body
						.item-plaza-feedback-duble__left.item-plaza-feedback
							span clock
							.item-plaza-feedback__icon.ibg.bg
								img(src="img/page-1-img.png",alt="")
						.item-plaza-feedback-duble__right.right-duble
							.right-duble__body
								.right-duble__head.item-plaza-feedback
									.item-plaza-feedback__text .item-plaza-feedback__item_text
								.right-duble__foot.link-main
									.link-main__body.container
										form.link-main__forma(action='').forma-main
											.forma-main__body
												input(type='hidden' name='project_name' value='mystart.zzz.com.ua')
												input(type='hidden' name='admin_email' value='yushinbox@gmail.com')
												input(type='hidden' name='form_subject' value='Форма обратной связи')
												.forma-main__input.forma-main__input_name
													label(for="username1") Введите Ваш логин
													input#username1(type='text', name='username1',placeholder='Введите логин')
												.forma-main__input.forma-main__input_pass
													label(for="passvord1") Введите Ваш пароль
													input#passvord1(type='password', name='password1', placeholder='Введите пароль')
												.forma-main__input.forma-main__input_textarea
													label(for="textarea1") Введите Ваши комментарии
													textarea(name='' id='textarea1' cols='30' rows='2' placeholder='Комментарии')
												.forma-main__input.forma-main__input_submit
													input(type='submit', name='submit', value='ВОЙТИ')




.cascade
	.cascade__body.container
		.cascade__header.header-cascade
			h2.header-cascade__title header-cascade__title
		.cascade__plaza.plaza-cascade
			.plaza-cascade__body
				.plaza-cascade__item.cascade-duble
					.cascade-duble__body
						.cascade-duble__left.item-plaza-cascade
							.item-plaza-cascade__body
								.item-plaza-cascade__item.item-plaza-cascade__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-cascade__item.item-plaza-cascade__item_text item-plaza-block__text
						.right-cascade-duble
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
				.plaza-cascade__item.cascade-duble
					.cascade-duble__body
						.cascade-duble__left.item-plaza-cascade
							.item-plaza-cascade__body
								.item-plaza-cascade__item.item-plaza-cascade__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-cascade__item.item-plaza-cascade__item_text item-plaza-block__text
						.right-cascade-duble
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
				.plaza-cascade__item.cascade-duble
					.cascade-duble__body
						.cascade-duble__left.item-plaza-cascade
							.item-plaza-cascade__body
								.item-plaza-cascade__item.item-plaza-cascade__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-cascade__item.item-plaza-cascade__item_text item-plaza-block__text
						.right-cascade-duble
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
				.plaza-cascade__item.cascade-duble
					.cascade-duble__body
						.cascade-duble__left.item-plaza-cascade
							.item-plaza-cascade__body
								.item-plaza-cascade__item.item-plaza-cascade__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-cascade__item.item-plaza-cascade__item_text item-plaza-block__text
						.right-cascade-duble
							img.icon(src="img/svg/mercedes-benz.svg",alt="")
				.plaza-cascade__item.cascade-duble
					.cascade-duble__body
						.cascade-duble__left.item-plaza-cascade
							.item-plaza-cascade__body
								.item-plaza-cascade__item.item-plaza-cascade__item_icon
									img.icon(src="img/svg/mercedes-benz.svg",alt="")
								.item-plaza-cascade__item.item-plaza-cascade__item_text item-plaza-block__text
						.right-cascade-duble
							img.icon(src="img/svg/mercedes-benz.svg",alt="")

.popup-action
	.popup-action__body
		.button-pop.js-button-campaign
			span Акция!
.overlay.js-overlay-campaign
	.popup.js-popup-campaign
		h2 Внимание,акция!
		p На протяжении 40 лет BMW 3 серии представляет собой идеальное воплощение 		спортивного седана. В шестом поколении комбинация динамики, непревзойденной 		управляемости, инновационных функций и максимальной практичности впечатляет как 	никогда раньше.
		.close-popup.js-close-campaign


.eTimer












