
.block-trips
	.block-trips__body.container
		.block-trips__head.tiny-trips-head
			.tiny-trips-head__body
				.tiny-trips-head__title Surfing is the most blissful experience you can have on this planet, a taste of heaven.
				.tiny-trips-head__text.tiny-trips-head__text_one John McCarthy
		.block-trips__content.content-trips
			.content-trips__body
				.content-trips__item.tiny-trips
					.tiny-trips__body
						.tiny-trips__icon.ibg 
							img(src="img/image/img-4.jpg",alt="")
						.tiny-trips__text.tiny-trips__text_one left-block-one__text1By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
						.tiny-trips__button
							a(href="#")
								span button
				.content-trips__img.serfer
					.serfer__body
						.serfer__bg.ibg.bg
							img(src="img/image/img-3.jpg",alt="")  
