
.block-trips
	.block-trips__body.container
		.block-trips__content.content-trips
			.content-trips__body
				.content-trips__item.tiny-trips
					.tiny-trips__body
						.tiny-trips__title Surf Training
						.tiny-trips__text.tiny-trips__text_one By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
						.button-item-plaza-discription.button-item-plaza-discription_training
							a(href="#")
								span Read More
				.content-trips__serfer.serfer
					.serfer__bg.ibg.bg
						img(src="img/image/img-4.jpg",alt="") 
