
.training
	.container
		.training__body
			.training__side.side Surf Camps
			.training__item.tiny-training
				.tiny-training__body
					.tiny-training__title(data-number="01") Surf Training
					.tiny-training__text.tiny-training__text_one By betterunderstanding the various aspects of surfing, By betterunderstanding the various aspects of surfing, you willimprove faster and have more fun in the water.
					.button-item-plaza-discription.button-item-plaza-discription_training
						a(href="#")
							span Read More
			.training__serfer.serfer
				.serfer__bg.ibg.bg
					img(src="img/image/img-4.jpg",alt="") 
