.block-1 
	.block-1__body.container
		.block-1__item.item-block-1
			.item-block-1__body
				.item-block-1__left.left-block-1
					.left-block-1__body
						.left-block-1__bg.ibg.bg 
							img(src="img/image/layer-67.gif",alt="") 
						.left-block-1__icon
							img.icon(src="img/image/mercedes-benz.svg",alt="")
						.left-block-1__title left-block-1__title
						.left-block-1__text left-block-1__text
						.left-block-1__button
							a(href="#")
								span button
				.item-block-1__right
					.item-block-1__right_high high
					.item-block-1__right_low  low